body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(to right, #11ab6d, #468a90a3);
}

h1 {
  color: #333;
  text-align: center; /* Center the heading */
}

#create-issue-form {
  margin-bottom: 20px;
  background: linear-gradient(to right, #050505, #00eaffa3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

button:hover {
  background-color: #45a049;
}

#issues-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-button,
.close-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-button:hover,
.close-button:hover {
  background-color: #0056b3;
}
